<section>
  <div class="chat">
    <div class="thread">
      <h3>Messages</h3>
      <mat-selection-list
        [multiple]="false"
        (selectionChange)="setChat($event)"
        *ngIf="users$ | async as users"
      >
        <mat-list-option *ngFor="let user of users" [value]="user.id">
          <h3>{{ user.name }}</h3>
          <p>{{ user.lastMessage }}</p>
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="messages" *ngIf="chat$ | async as chat">
      <h3>{{ chat.user }}</h3>
      <div class="list">
        <div
          *ngFor="let item of chat.list"
          class="item"
          [ngClass]="{ reply: item.isReply }"
        >
          {{ item.text }}
        </div>
      </div>
      <mat-form-field appearance="standard" *ngIf="chat.user">
        <mat-label>Reply...</mat-label>
        <input
          matInput
          type="text"
          [formControl]="send"
          (keyup.enter)="sendReply()"
        />
        <button mat-icon-button matSuffix (click)="sendReply()">
          <mat-icon>send</mat-icon>
        </button>
        <mat-error *ngIf="send.hasError('required')">
          Please fill text
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</section>
